In [1]:
import time
import logging
from binance.lib.utils import config_logging
from binance.websocket.futures.websocket_client import FuturesWebsocketClient as Client
import pandas as pd
import matplotlib
import numpy as np
config_logging(logging, logging.DEBUG)

In [2]:
def message_handler(message, df):
    try:
      row = message["k"]
      row["event_time"] = message["E"]
      if len(df) < 52:      
        df.append(row)
      else:
        df.pop(0)
        df.append(row)
    except:
      print(message)

    # print(dfs)

kl_list = []

my_client = Client()
my_client.start()


my_client.continuous_kline(
    pair="btcusdt",
    id=1,
    contractType="perpetual", 
    interval='1d',
    callback=lambda m: message_handler(m, kl_list),
)

time.sleep(10)

logging.debug("closing ws connection")
my_client.stop()

INFO:root:Connection with URL: wss://fstream.binance.com/ws
INFO:root:Start to connect....
INFO:root:Server connected
INFO:root:Sending message to Server: b'{"method": "SUBSCRIBE", "params": ["btcusdt_perpetual@continuousKline_1d"], "id": 1}'

{'id': 1, 'result': None}

DEBUG:root:closing ws connection

In [3]:
def process_ws_klines(kl_list):

  df = pd.DataFrame(kl_list)
  df.drop(labels=["i", "f", "L", "B"], axis=1, inplace=True)
  
  reordered_labels = ['event_time', 't', 'o', 'h', 'l', 'c', 'v', 'T', 'q', 'n', 'V', 'Q']
  
  df = df.reindex(columns=reordered_labels)
  df.columns = ['event_time', 'open_time', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume', 'trades', 'taker_buy_volume', 'taker_buy_quote_asset_volume']
  df['event_time'] = pd.to_datetime(df['event_time'], unit='ms')
  df['open_time'] = pd.to_datetime(df['open_time'], unit='ms')
  df['close_time'] = pd.to_datetime(df['close_time'], unit='ms')
  df['open'] = pd.to_numeric(df['open'])
  df['high'] = pd.to_numeric(df['high'])
  df['low'] = pd.to_numeric(df['low'])
  df['close'] = pd.to_numeric(df['close'])
  df['volume'] = pd.to_numeric(df['volume'])
  df['quote_asset_volume'] = pd.to_numeric(df['quote_asset_volume'])
  df['trades'] = pd.to_numeric(df['trades'])
  df['taker_buy_volume'] = pd.to_numeric(df['taker_buy_volume'])
  df['taker_buy_quote_asset_volume'] = pd.to_numeric(df['taker_buy_quote_asset_volume'])

  return df

In [4]:
df = process_ws_klines(kl_list=kl_list)
#%%
df

,event_time,open_time,open,high,low,close,volume,close_time,quote_asset_volume,trades,taker_buy_volume,taker_buy_quote_asset_volume
0,2022-05-01 01:44:10.637,2022-05-01,37614.4,37866.6,37350.0,37836.7,29775.993,2022-05-01 23:59:59.999,1.120330e+09,328620,14372.470,5.410901e+08
1,2022-05-01 01:44:10.902,2022-05-01,37614.4,37866.6,37350.0,37841.7,29786.487,2022-05-01 23:59:59.999,1.120727e+09,328680,14382.892,5.414845e+08
2,2022-05-01 01:44:11.154,2022-05-01,37614.4,37866.6,37350.0,37845.0,29786.984,2022-05-01 23:59:59.999,1.120746e+09,328697,14383.265,5.414986e+08
3,2022-05-01 01:44:11.427,2022-05-01,37614.4,37866.6,37350.0,37846.9,29788.369,2022-05-01 23:59:59.999,1.120798e+09,328724,14384.292,5.415375e+08
4,2022-05-01 01:44:11.719,2022-05-01,37614.4,37866.6,37350.0,37847.1,29791.432,2022-05-01 23:59:59.999,1.120914e+09,328760,14385.144,5.415697e+08
5,2022-05-01 01:44:12.049,2022-05-01,37614.4,37866.6,37350.0,37841.2,29794.642,2022-05-01 23:59:59.999,1.121036e+09,328810,14385.202,5.415719e+08
6,2022-05-01 01:44:12.310,2022-05-01,37614.4,37866.6,37350.0,37845.8,29797.961,2022-05-01 23:59:59.999,1.121161e+09,328855,14388.029,5.416789e+08
7,2022-05-01 01:44:12.566,2022-05-01,37614.4,37866.6,37350.0,37845.3,29798.141,2022-05-01 23:59:59.999,1.121168e+09,328863,14388.208,5.416857e+08
8,2022-05-01 01:44:12.820,2022-05-01,37614.4,37866.6,37350.0,37845.5,29798.523,2022-05-01 23:59:59.999,1.121183e+09,328878,14388.420,5.416937e+08
9,2022-05-01 01:44:13.073,2022-05-01,37614.4,37866.6,37350.0,37847.1,29799.486,2022-05-01 23:59:59.999,1.121219e+09,328891,14389.114,5.417200e+08
10,2022-05-01 01:44:13.348,2022-05-01,37614.4,37866.6,37350.0,37851.4,29811.242,2022-05-01 23:59:59.999,1.121664e+09,328941,14400.299,5.421433e+08
11,2022-05-01 01:44:13.671,2022-05-01,37614.4,37866.6,37350.0,37851.9,29816.680,2022-05-01 23:59:59.999,1.121870e+09,328976,14400.497,5.421508e+08
12,2022-05-01 01:44:13.942,2022-05-01,37614.4,37866.6,37350.0,37856.0,29818.952,2022-05-01 23:59:59.999,1.121956e+09,329010,14402.551,5.422285e+08
13,2022-05-01 01:44:14.211,2022-05-01,37614.4,37866.6,37350.0,37858.0,29830.725,2022-05-01 23:59:59.999,1.122402e+09,329115,14414.166,5.426682e+08
14,2022-05-01 01:44:14.499,2022-05-01,37614.4,37866.6,37350.0,37859.9,29832.249,2022-05-01 23:59:59.999,1.122459e+09,329141,14414.543,5.426825e+08
15,2022-05-01 01:44:14.752,2022-05-01,37614.4,37866.6,37350.0,37862.9,29834.428,2022-05-01 23:59:59.999,1.122542e+09,329183,14416.573,5.427594e+08
16,2022-05-01 01:44:15.013,2022-05-01,37614.4,37868.0,37350.0,37867.6,29837.116,2022-05-01 23:59:59.999,1.122644e+09,329223,14418.344,5.428264e+08
17,2022-05-01 01:44:15.289,2022-05-01,37614.4,37868.0,37350.0,37868.0,29837.667,2022-05-01 23:59:59.999,1.122664e+09,329232,14418.875,5.428465e+08
18,2022-05-01 01:44:15.550,2022-05-01,37614.4,37879.9,37350.0,37879.9,29853.890,2022-05-01 23:59:59.999,1.123279e+09,329397,14433.769,5.434106e+08
19,2022-05-01 01:44:15.801,2022-05-01,37614.4,37884.0,37350.0,37884.0,29869.520,2022-05-01 23:59:59.999,1.123871e+09,329591,14449.011,5.439880e+08
20,2022-05-01 01:44:16.051,2022-05-01,37614.4,37892.9,37350.0,37886.8,29891.830,2022-05-01 23:59:59.999,1.124716e+09,329842,14471.170,5.448276e+08
21,2022-05-01 01:44:16.323,2022-05-01,37614.4,37894.0,37350.0,37894.0,29897.955,2022-05-01 23:59:59.999,1.124948e+09,329921,14475.764,5.450017e+08
22,2022-05-01 01:44:16.578,2022-05-01,37614.4,37894.9,37350.0,37894.9,29901.514,2022-05-01 23:59:59.999,1.125083e+09,330000,14479.222,5.451327e+08
23,2022-05-01 01:44:16.838,2022-05-01,37614.4,37898.0,37350.0,37898.0,29906.095,2022-05-01 23:59:59.999,1.125257e+09,330096,14483.131,5.452808e+08
24,2022-05-01 01:44:17.090,2022-05-01,37614.4,37900.0,37350.0,37894.3,29932.457,2022-05-01 23:59:59.999,1.126256e+09,330311,14508.435,5.462399e+08
25,2022-05-01 01:44:17.342,2022-05-01,37614.4,37900.0,37350.0,37893.0,29935.043,2022-05-01 23:59:59.999,1.126354e+09,330364,14509.420,5.462772e+08
26,2022-05-01 01:44:17.593,2022-05-01,37614.4,37900.0,37350.0,37899.9,29951.144,2022-05-01 23:59:59.999,1.126964e+09,330480,14525.150,5.468733e+08
27,2022-05-01 01:44:17.851,2022-05-01,37614.4,37918.0,37350.0,37897.7,30035.544,2022-05-01 23:59:59.999,1.130163e+09,330897,14595.507,5.495404e+08
28,2022-05-01 01:44:18.106,2022-05-01,37614.4,37918.0,37350.0,37899.2,30046.747,2022-05-01 23:59:59.999,1.130588e+09,331012,14599.480,5.496910e+08
29,2022-05-01 01:44:18.357,2022-05-01,37614.4,37918.0,37350.0,37894.7,30065.005,2022-05-01 23:59:59.999,1.131280e+09,331175,14608.503,5.500331e+08