In [9]:
import logging
from binance.futures import Futures as Client
from binance.lib.utils import config_logging
import pandas as pd
import json
import matplotlib

In [10]:
%%capture
config_logging(logging, logging.DEBUG)
futures_client = Client()
# logging.info(futures_client.continuous_klines("BTCUSDT", 'PERPETUAL', '15m', limit=100));
klines = futures_client.continuous_klines("BTCUSDT", 'PERPETUAL', '15m', limit=100);

In [11]:
def process_klines(klines):

    df = pd.DataFrame(klines)
    df.columns = ['open_time', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume', 'trades', 'taker_buy_volume', 'taker_buy_quote_asset_volume', 'ignore']
    df['open_time'] = pd.to_datetime(df['open_time'], unit='ms')
    df['close_time'] = pd.to_datetime(df['close_time'], unit='ms')
    df['open'] = pd.to_numeric(df['open'])
    df['high'] = pd.to_numeric(df['high'])
    df['low'] = pd.to_numeric(df['low'])
    df['close'] = pd.to_numeric(df['close'])
    df['volume'] = pd.to_numeric(df['volume'])
    df['quote_asset_volume'] = pd.to_numeric(df['quote_asset_volume'])
    df['trades'] = pd.to_numeric(df['trades'])
    df['taker_buy_volume'] = pd.to_numeric(df['taker_buy_volume'])
    df['taker_buy_quote_asset_volume'] = pd.to_numeric(df['taker_buy_quote_asset_volume'])
    df['ignore'] = pd.to_numeric(df['ignore'])
    df.drop(['ignore'], axis=1, inplace=True)
    return df

In [12]:
df = process_klines(klines)

In [13]:
df

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,trades,taker_buy_volume,taker_buy_quote_asset_volume
0,2022-04-30 00:30:00,38710.6,38710.6,38530.0,38552.2,2300.638,2022-04-30 00:44:59.999,8.879622e+07,21885,833.928,3.218477e+07
1,2022-04-30 00:45:00,38552.2,38619.9,38544.0,38619.7,964.114,2022-04-30 00:59:59.999,3.719521e+07,9804,535.329,2.065380e+07
2,2022-04-30 01:00:00,38619.8,38700.0,38610.2,38666.9,2111.298,2022-04-30 01:14:59.999,8.162916e+07,18724,1331.967,5.149854e+07
3,2022-04-30 01:15:00,38667.0,38691.1,38612.0,38688.9,959.210,2022-04-30 01:29:59.999,3.706816e+07,11600,415.111,1.604504e+07
4,2022-04-30 01:30:00,38688.8,38733.1,38650.0,38683.9,1413.049,2022-04-30 01:44:59.999,5.467963e+07,15470,863.128,3.340001e+07
...,...,...,...,...,...,...,...,...,...,...,...
95,2022-05-01 00:15:00,37661.1,37698.7,37608.6,37612.1,2166.250,2022-05-01 00:29:59.999,8.154937e+07,29937,1061.270,3.995536e+07
96,2022-05-01 00:30:00,37612.1,37785.6,37437.7,37705.5,7975.921,2022-05-01 00:44:59.999,3.000995e+08,76334,3667.303,1.380710e+08
97,2022-05-01 00:45:00,37705.5,37711.1,37632.2,37660.7,1928.947,2022-05-01 00:59:59.999,7.265951e+07,26383,983.926,3.706413e+07
98,2022-05-01 01:00:00,37660.7,37718.8,37607.2,37630.1,1931.588,2022-05-01 01:14:59.999,7.275089e+07,27984,818.392,3.082978e+07
99,2022-05-01 01:15:00,37630.3,37643.7,37522.4,37533.8,1875.110,2022-05-01 01:29:59.999,7.049604e+07,24504,668.818,2.514948e+07